# Pi-hole
PIHOLE_PASSWORD=CHANGE_ME

# Beszel
BESZEL_TOKEN=CHANGE_ME

# HA Linky
SUPERVISOR_TOKEN=CHANGE_ME
WS_URL=CHANGE_ME

# Tailscale
TS_AUTHKEY=CHANGE_ME

# Portainer
HOMEPAGE_VAR_PORTAINER_KEY=CHANGE_ME

# Home assistant
HOMEPAGE_VAR_HOME_ASSISTANT_KEY=CHANGE_ME