# Pi-hole
PIHOLE_PASSWORD=

# Beszel
BESZEL_TOKEN=

# RomM - Auth
ROMM_AUTH_SECRET_KEY=

# RomM - Database
DB_USER=
DB_PASSWD=
MARIADB_ROOT_PASSWORD=
MARIADB_PASSWORD=

# RomM - API Keys
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
RETROACHIEVEMENTS_API_KEY=
