.env
beszel/beszel_data/
beszel/beszel_agent_data/
beszel/beszel_socket/
portainer/data/
npm/letsencrypt/
home-assistant/config/
jellyfin/config/
jellyfin/cache/
pi-hole/etc-pihole/
retrogaming/roms/
jellyfin/media/
npm/data/
wireshark/config
homepage/config/logs
homepage/config/custom.css
homepage/config/custom.js
ha-linky/options.json
tailscale/tailscale-state/